{% extends "common/home.html" %}
{% load static %}

{% block title %}Category Editing{% endblock %}

{% block content %}
{% if category %}
<form method="post" action="{% url 'category_edit' category.id %}">
  {% csrf_token %}

  <div class="form-group row">
    <label class="col-sm-2">Id:</label>
    <div class="col-sm-10">
      <input class="form-control" type="number" name="id" value="{{ category.id }}" readonly>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-sm-2">Name:</label>
    <div class="col-sm-10">
      <input class="form-control" name="name" value="{{ category.name }}">
      {% if nameError %}
      <div class="text-warning">{{ nameError }}</div>
      {% endif %}
    </div>
  </div>

  <div class="form-group row">
    <label class="col-sm-2">Emoji:</label>
    <div class="col-sm-10">
      <input class="form-control" name="emoji" value="{{ category.emoji }}">
      {% if emojiError %}
      <div class="text-warning">{{ emojiError }}</div>
      {% endif %}
    </div>
  </div>

  <button class="btn btn-success" type="submit">Update</button>
</form>

<form method="get" action="{% url 'categories_list' %}">
  <button class="btn btn-info" type="submit">Back</button>
</form>

<form method="post" action="{% url 'category_delete' %}">
  {% csrf_token %}
  <input type="hidden" name="id" value="{{ category.id }}">
  <button class="btn btn-danger" type="submit">Delete</button>
</form>

{% else %}
<div class="alert alert-danger" role="alert">
  <h4 class="alert-heading">Error</h4>
  <hr>This category does not exist!
</div>
{% endif %}
{% endblock %}