{% extends "common/home.html" %}
{% load static %}

{% block title %}Order Editing{% endblock %}

{% block content %}

  {% if order %}
    <form method="post" action="{% url 'order_edit' order.id %}">
      {% csrf_token %}
      <div class="form-group row">
        <label class="col-sm-2">Id:</label>
        <div class="col-sm-10">
          <input class="form-control" type="number" name="id" value="{{ order.id }}" readonly>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-sm-2">Client:</label>
        <div class="col-sm-10">
          <input type="hidden" name="client_id" value="{{ order.client.id }}">
          <input type="hidden" name="client" value="{{ order.client.name }}">
          {{ order.client.name }} (<a target="_blank" href="{% url 'client_edit' order.client_id %}">view</a>)
        </div>
      </div>

      <div class="form-group row">
        <label class="col-sm-2">Date:</label>
        <div class="col-sm-10">
          <input class="form-control" type="datetime-local" name="createdDate"
                 value="{{ order.created_date }}" readonly>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-sm-2">Status:</label>
        <div class="col-sm-10">
          <select class="form-control" name="status">
            <option value="pending" {% if order.status == 'pending' %}selected{% endif %}>Pending</option>
            <option value="completed" {% if order.status == 'completed' %}selected{% endif %}>Completed</option>
            <option value="canceled" {% if order.status == 'canceled' %}selected{% endif %}>Canceled</option>
          </select>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-sm-2">Amount:</label>
        <div class="col-sm-10">
          <input class="form-control" type="number" name="amount" value="{{ order.amount }}">
          {% if amount_error %}<div class="text-warning">{{ amount_error }}</div>{% endif %}
        </div>
      </div>

      {% include "./items/all.html" %}

      <button class="btn btn-success" type="submit">Update</button>
    </form>

    <form method="get" action="{% url 'orders_list' %}">
      <button class="btn btn-info" type="submit">Back</button>
    </form>

  {% else %}
    <div class="alert alert-danger" role="alert">
      <h4 class="alert-heading">Error</h4>
      <hr>This order does not exist!
    </div>
  {% endif %}

{% endblock %}
